header .logo {
    width: 20%;
    margin: 20px 0 10px;
}
.logo .logo-img {
    width: 40%;
    margin: 0 50px;
}
.uk-position-relative{
    width: 80%;
}
.uk-navbar-nav>li>a {
    color: rgb(70, 70, 70);
}
/* .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .logo{
    width: 20%;
}
.footer .logo a{
    display: flex;
    justify-content: center;
}
.footer .content{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.redes {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.redes li{
    padding-right: 10px;
    border-right: 1px solid black;
}
.redes li:last-child{
    border-right: none;
}
.redes li a{
    color: black;
    text-decoration: none;
    font-family: Raleway, Helvetica, sans-serif;
}
.direccion p{
    color: black;
    font-family: Raleway, Helvetica, sans-serif;
}
.actions{
    margin-top: 20px;
    margin-bottom: 0;
}
.actions .boton{
    color: rgb(100, 100, 100) !important;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.267);

} */

#footer .inner .major{
    color: rgb(70, 70, 70);
    border-bottom: solid 2px rgba(70, 70, 70, 0.274);
}
#footer .inner p{
    color: rgb(70, 70, 70);
}
.inner .field label{
    color: rgb(70, 70, 70);
}

ul.contact li{
    color: rgb(70, 70, 70);
}
ul.contact li a{
    color: rgb(70, 70, 70);
}
.copyright .logo{
    width: 10%;
}
.copyright .logo .logo-copy{
    width: 80%;
}
