header .logo {
    width: 20%;
    margin: 15px 0 10px;
}
.logo .logo-img {
    width: 32%;
    margin: 0 30px;
}
.uk-position-relative{
    width: 80%;
}
.uk-navbar-nav>li>a {
    color: rgb(70, 70, 70);
}
body .uk-navbar-dropdown{
    width: 260px;
}
#footer .inner .major{
    color: rgb(70, 70, 70);
    border-bottom: solid 2px rgba(70, 70, 70, 0.274);
}
#footer .inner p{
    color: rgb(70, 70, 70);
}
.inner .field label{
    color: rgb(70, 70, 70);
}

ul.contact li{
    color: rgb(70, 70, 70);
}
ul.contact li a{
    color: rgb(70, 70, 70);
}
.copyright .logo{
    width: 5em;
}
.copyright .logo .logo-copy{
    width: 4em;
}
.abdomen{
    background-image: url("../../images/abdomen.JPG");
}
.brazos{
    background-image: url("../../images/pagina_Brazos_y_muslos.jpeg");
}
.cara{
    background-image: url("../../images/pagina_cara.jpeg");
}
.cirugia{
    background-image: url("../../images/pagina_trayectoria.jpeg");
}
.gluteos{
    background-image: url("../../images/pagina_gluteos.jpeg");
}
.hilos{
    background-image: url("../../images/hilos.jpg");
}
.index{
    background-image: url("../../images/fondo4.jpg");
}
.intima{
    background-image: url("../../images/pagina_intima.jpeg");
}
.laser{
    background-image: url("../../images/Laser_de_CO2.jpeg");
}
.mamas{
    background-image: url("../../images/mamas.jpg");
}
.medicina{
    background-image: url("../../images/IMG_8959.JPG");
}
.mesolifting{
    background-image: url("../../images/Mesolifting.jpeg");
}
.plasma{
    background-image: url("../../images/dermapen.JPG");
}
.profesionales{
    background-image: url("../../images/fondo4.jpg");
}
.rellenos{
    background-image: url("../../images/labios.jpg");
}
.reparadora{
    background-image: url("../../images/fondo4.jpg");
}
.rinomodelacion{
    background-image: url("../../images/nariz.jpg");
}
.skinbooster{
    background-image: url("../../images/skinbooster.jpg");
}
.toxina{
    background-image: url("../../images/botox.png");
}

.blanco{
    color: white !important;
}
input .blanco{
    color: white !important;

}
.mobile{
    display: none;
}

@media screen and (max-width: 769px){
    .mobile{
        display: unset;
    }
    .desktop{
        display: none;
    }
    header .logo {
        width: 5.5em;
        margin: 10px 0 10px;
    }
    .logo .logo-img {
        width: 100%;
        margin: 0;
    }
    .fa-bars{
        color: rgb(70, 70, 70);
    }
}
